@font-face {
  font-family: "GeraldtonLight";
  src: url(../fonts/GeraldtonLight.otf);
}
@font-face {
  font-family: "MarlinRegular";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-Regular.otf);
}
@font-face {
  font-family: "MarlinItalic";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-RegularItalic.otf);
}
@font-face {
  font-family: "Futurah";
  src: url(../fonts/FUTURAH.TTF);
}
@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "LatoBold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "MontserratItalic";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "LatoLight";
  src: url(../fonts/Lato-Light.ttf);
}
html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #000;
}
@media screen and (max-width: 576px) {
  header {
    width: 100%;
  }
}
header img {
  height: 64px;
  transition: all 2s;
  animation-name: logo-giratorio;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "LatoRegular";
}
header nav ul li {
  transform: 10s all;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
header nav ul li a:hover {
  color: rgb(16, 219, 170);
  transform: scale(1.1);
}
@media screen and (max-width: 576px) {
  header nav ul li a:hover {
    transform: none;
  }
}

@keyframes logo-giratorio {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
main .container-titulo {
  display: inline-block;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Montserrat";
  text-shadow: 4px 4px 7px black;
  z-index: 1;
}
main .container-titulo h1 {
  font-size: 70px;
  z-index: 1;
}
main .container-titulo h1 span {
  color: rgb(16, 219, 170);
}
@media screen and (max-width: 576px) {
  main .container-titulo h1 {
    font-size: 25px;
    display: inline-block;
  }
}
main .container-titulo h2 {
  font-weight: 600;
}
main .container-titulo h2 span {
  color: rgb(16, 219, 170);
}
main .logo-wp img {
  height: 64px;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 20px;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  main .logo-wp img {
    height: 48px;
    margin: 10px;
  }
}
main .container-img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  filter: brightness(0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 576px) {
  main .container-img .imagen2 {
    max-width: 100%;
  }
  main .container-img .imagen1,
  main .container-img .imagen3 {
    display: none;
  }
}
main .container-img img {
  max-width: 450px;
  width: 100vh;
  transition: all 2s;
}
main .container-img img:hover {
  transform: scale(1.04);
}
@media screen and (max-width: 576px) {
  main .container-img img:hover {
    transform: none;
  }
}
main .container-img .imagen1 {
  height: 100%;
}
main .botonunitealteam {
  display: inline-block;
  margin-top: 400px;
  position: absolute;
}
main .boton-unite, main .card .btn {
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(16, 219, 170);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-family: "Montserrat";
  box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
}
main .boton-unite:hover, main .card .btn:hover {
  background-color: white;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

footer {
  height: auto;
  width: 100%;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  footer {
    width: 100%;
  }
}
footer.footer-color-1 {
  background-color: #000;
}
footer.footer-color-2 {
  background-color: #000;
}
footer img {
  width: 64px;
}
footer .logo-footer {
  text-align: center;
  color: #ffffff;
}
footer .texto-redes {
  text-align: center;
  color: rgb(16, 219, 170);
}
footer .texto-final {
  color: #ffffff;
}
footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.75rem;
  font-family: "GeraldtonLight";
  justify-content: center;
}
footer ul li i {
  color: #ffffff;
}
footer ul li i:hover {
  color: rgb(16, 219, 170);
  transform: scale(1.1);
}
@media screen and (max-width: 576px) {
  footer ul li i:hover {
    transform: none;
  }
}
footer .texto-final {
  text-align: center;
}

main ._container-sobremi {
  display: grid;
  background-color: #000;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "carrusel-1 titulo-2" "carrusel-1 texto-3" "carrusel-1 texto-4";
}
@media screen and (max-width: 576px) {
  main ._container-sobremi {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "carrusel-1" "titulo-2" "texto-3" "texto-4";
  }
}
main ._container-sobremi .carrusel-1 {
  grid-area: carrusel-1;
  max-height: 450px;
  max-width: auto;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
  -webkit-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
  -moz-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
}
@media screen and (max-width: 576px) {
  main ._container-sobremi .carrusel-1 {
    height: 300px;
    width: auto;
    margin: 10px;
  }
}
main ._container-sobremi .carrusel-1 .foto-4 iframe {
  height: 450px;
  width: 780px;
}
@media screen and (max-width: 576px) {
  main ._container-sobremi .carrusel-1 .foto-4 iframe {
    width: 455px;
    height: 300px;
  }
}
main ._container-sobremi .titulo-2 {
  grid-area: titulo-2;
  text-align: center;
  font-family: "Futurah";
  margin-top: 50px;
}
main ._container-sobremi .titulo-2 span {
  color: rgb(16, 219, 170);
}
main ._container-sobremi .texto-3 {
  grid-area: texto-3;
}
main ._container-sobremi .texto-3 h3 {
  text-align: center;
  font-family: "LatoLight";
  color: white;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  main ._container-sobremi .texto-3 h3 {
    margin: 20px;
  }
}
main ._container-sobremi .texto-3 h3 span {
  font-weight: 600;
  color: rgb(16, 219, 170);
}
main ._container-sobremi .texto-4 {
  grid-area: texto-4;
}
main ._container-sobremi .texto-4 h3 {
  text-align: center;
  font-family: "LatoLight";
  color: white;
  margin: 10px;
}
main ._container-sobremi .texto-4 h3 span {
  font-weight: 600;
  color: rgb(16, 219, 170);
}
main ._container-sobremi .foto-1,
main ._container-sobremi .foto-2,
main ._container-sobremi .foto-3 {
  height: 450px;
}
@media screen and (max-width: 576px) {
  main ._container-sobremi .foto-1,
  main ._container-sobremi .foto-2,
  main ._container-sobremi .foto-3 {
    height: 360px;
  }
}

main {
  background-color: #000;
}
main .titulo_t {
  font-family: "Montserrat";
  text-align: center;
  font-size: 3rem;
}
main .titulo_t .subtitulo {
  font-family: "LatoRegular";
  color: rgb(16, 219, 170);
  font-size: 2.5rem;
}
@media screen and (max-width: 576px) {
  main .titulo_t h1 {
    font-size: 3rem;
  }
}
main .container-imagenes {
  display: grid;
  justify-content: center;
  height: auto;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 300px);
}
@media screen and (max-width: 576px) {
  main .container-imagenes {
    grid-template-columns: 400px;
    grid-template-rows: auto;
  }
}
main .container-imagenes img {
  width: 100%;
  height: 100%;
}

main {
  background-color: #000;
}
main .titulo-team {
  text-align: center;
  justify-items: center;
}
main .titulo-team h1 {
  font-family: "Montserrat";
}
@media screen and (max-width: 576px) {
  main .titulo-team h1 {
    font-size: 4rem;
  }
}
main .titulo-team h1 h2 {
  font-family: "RobotoRegular";
}
@media screen and (max-width: 576px) {
  main .container-cards {
    flex-direction: column;
    align-items: center;
  }
}
main .card {
  box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
  -webkit-box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
  -moz-box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}
main .card img {
  border-radius: 10px;
}
main .card h5 {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Futurah";
  color: #000;
}
main .card .precio-card {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: coral;
}
main .card .card-text {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-family: "MarlinRegular";
}
main .card .btn {
  padding: 10px 20px;
  font-size: 1.5rem;
}

main .parallax {
  width: 99%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: left fixed url(../img/contact/pexels-andres-ayrton-6551426.jpg) no-repeat;
}
main h1 {
  font-weight: bold;
  font-size: 6rem;
  color: white;
  text-shadow: 3px 3px 6px black;
}
main h1 span {
  color: rgb(16, 219, 170);
}
main form {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
main form .form-title {
  font-size: 4rem;
}
main form .form-label {
  display: block;
  color: rgb(16, 219, 170);
  font-size: 2rem;
  font-family: "Futurah";
  position: relative;
}
main form .form-input {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(16, 219, 170);
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: "MarlinRegular";
}
main form textarea {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(16, 219, 170);
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: "MarlinRegular";
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
main form .btn-submit {
  width: 100%;
  font-family: "Futurah";
  outline: none;
  background: rgb(16, 219, 170);
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
main form .btn-submit:hover {
  background-color: #fff;
  color: black;
}
main form .form-header .form-title {
  font-weight: normal;
  font-family: "Futurah";
  color: rgb(16, 219, 170);
  text-align: center;
  padding: 14px 0;
}
main form .form-header .form-title span {
  color: white;
}

/*# sourceMappingURL=style.css.map */
