html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "GeraldtonLight";
  src: url(../fonts/GeraldtonLight.otf);
}
@font-face {
  font-family: "MarlinRegular";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-Regular.otf);
}
@font-face {
  font-family: "MarlinItalic";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-RegularItalic.otf);
}
@font-face {
  font-family: "Futurah";
  src: url(../fonts/FUTURAH.TTF);
}
header {
  background-color: coral;
}
header img {
  height: 64px;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "GeraldtonLight";
}
header nav ul li a {
  color: w;
}

main .container-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Futurah";
  text-shadow: 3px 3px 6px black;
  z-index: 1;
}
main .container-titulo h1 {
  font-size: 80px;
  z-index: 1;
}
main .logo-wp img {
  height: 64px;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 20px;
  margin: 10px;
}
main .container-img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  filter: brightness(0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
main .container-img img {
  max-width: 450px;
  width: 100vh;
  transition: all 2s;
}
main .container-img img:hover {
  transform: scale(1.05);
}
main .container-img .imagen1 {
  height: 100%;
}
main .botonunitealteam {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.boton-unite {
  padding: 15px 30px;
  border: 1px solid #995309;
  border-radius: 6px;
  background-color: #ee7410;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
}
.boton-unite:hover {
  background-color: white;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

footer {
  height: auto;
  width: 100%;
  display: inline-block;
}
footer.footer-color-1 {
  background-color: coral;
}
footer.footer-color-2 {
  background-image: linear-gradient(#ffffff, coral);
}
footer img {
  width: 64px;
}
footer .logo-footer {
  text-align: center;
}
footer .texto-redes {
  text-align: center;
}
footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.75rem;
  font-family: "GeraldtonLight";
  justify-content: center;
}
footer ul li i {
  color: #373737;
}
footer .texto-final {
  text-align: center;
}

@media screen and (max-width: 576px) {
  main ._container-sobremi {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "carrusel-1" "titulo-2" "texto-3" "texto-4";
  }
  main ._container-sobremi .carrusel-1 {
    grid-area: carrusel-1;
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
    -moz-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
  }
  main ._container-sobremi .foto-4 iframe {
    width: 455px;
    height: 360px;
  }
  main ._container-sobremi .foto-2 img {
    height: 360px;
  }
  main ._container-sobremi .foto-3 img {
    height: 360px;
  }
  main ._container-sobremi .titulo-2 {
    grid-area: titulo-2;
  }
  main ._container-sobremi .texto-3 {
    grid-area: texto-3;
  }
  main ._container-sobremi .texto-4 {
    grid-area: texto-4;
  }
}
main ._container-sobremi {
  display: grid;
  background-image: linear-gradient(coral, #ffffff);
  height: auto;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "carrusel-1 titulo-2" "carrusel-1 texto-3" "carrusel-1 texto-4";
}
main ._container-sobremi .carrusel-1 {
  grid-area: carrusel-1;
  max-height: 450px;
  max-width: auto;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
  -webkit-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
  -moz-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
}
main ._container-sobremi .carrusel-1 .foto-4 iframe {
  height: 450px;
  width: 780px;
}
main ._container-sobremi .titulo-2 {
  grid-area: titulo-2;
  text-align: center;
  font-family: "Futurah";
  margin-top: 50px;
}
main ._container-sobremi .texto-3 {
  grid-area: texto-3;
  text-align: center;
  font-family: "MarlinRegular";
}
main ._container-sobremi .texto-4 {
  grid-area: texto-4;
  text-align: center;
  font-family: "MarlinRegular";
}
main ._container-sobremi .foto-1,
main ._container-sobremi .foto-2,
main ._container-sobremi .foto-3 {
  height: 450px;
}

main {
  background-image: linear-gradient(coral, #ffffff);
}
main .titulo_t {
  font-family: "Futurah";
  text-align: center;
  font-size: 3rem;
}
main .container-imagenes {
  display: grid;
  justify-content: center;
  height: auto;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 300px);
}
main .container-imagenes img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 5px;
  }
  main img {
    width: auto;
    height: auto;
  }
}

main .card {
  box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.66);
  margin: 20px;
  background-color: black;
  border-radius: 10px;
}
main .card img {
  border-radius: 10px;
}
main .card h5 {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Futurah";
  color: white;
}
main .card .precio-card {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: coral;
}
main .card .card-text {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "MarlinRegular";
}
main .card .btn {
  padding: 10px 20px;
  border: 1px solid #995309;
  border-radius: 6px;
  background-color: #ee7410;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
}
main .card .btn:hover {
  background-color: white;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

main .parallax {
  width: 99%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: left fixed url(/img/contact/pexels-andres-ayrton-6551426.jpg) no-repeat;
}
main h1 {
  font-weight: bold;
  font-size: 6rem;
  color: white;
  text-shadow: 3px 3px 6px black;
}
main form {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
main form .form-label {
  display: block;
  color: #ff851b;
  font-size: 2rem;
  font-family: "Futurah";
  position: relative;
}
main form .form-input {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: "MarlinRegular";
}
main form textarea {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: "MarlinRegular";
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
main form .btn-submit {
  width: 100%;
  font-family: "Futurah";
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
main form .btn-submit:hover {
  background-color: #fff;
  color: black;
}
main form .form-header .form-title {
  font-weight: normal;
  font-family: "Futurah";
  color: coral;
  text-align: center;
  padding: 14px 0;
}
main form .form-header .form-title span {
  color: white;
}

@media screen and (max-width: 576px) {
  .navbar-expand-lg {
    z-index: 3;
  }
  .h1 {
    font-size: 1rem;
  }
  .container-img {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .container-img .imagen1 {
    display: none;
  }
  .container-img .imagen3 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
