@font-face {
  font-family: "GeraldtonLight";
  src: url(../fonts/GeraldtonLight.otf);
}
@font-face {
  font-family: "MarlinRegular";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-Regular.otf);
}
@font-face {
  font-family: "MarlinItalic";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-RegularItalic.otf);
}

@font-face {
  font-family: "Futurah";
  src: url(../fonts/FUTURAH.TTF);
}
