@font-face {
  font-family: "GeraldtonLight";
  src: url(../fonts/GeraldtonLight.otf);
}
@font-face {
  font-family: "MarlinRegular";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-Regular.otf);
}
@font-face {
  font-family: "MarlinItalic";
  src: url(../fonts/FontMesa\ -\ MarlinSoftBasic-RegularItalic.otf);
}

@font-face {
  font-family: "Futurah";
  src: url(../fonts/FUTURAH.TTF);
}
@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "LatoBold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "MontserratItalic";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf);
}
