footer {
  height: auto;
  width: 100%;
  display: inline-block;
  @include mobile {
    width: 100%;
  }

  &.footer-color-1 {
    background-color: $color-tertiary;
  }
  &.footer-color-2 {
    background-color: $color-tertiary;
  }

  img {
    width: 64px;
  }

  .logo-footer {
    text-align: center;
    color: $color-secundary;
  }

  .texto-redes {
    text-align: center;
    color: $color-textos;
  }
  .texto-final {
    color: $color-secundary;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.75rem;
    font-family: "GeraldtonLight";
    justify-content: center;
    li {
      i {
        color: $color-secundary;
        &:hover {
          color: $color-textos;
          transform: scale(1.1);
          @include mobile {
            transform: none;
          }
        }
      }
    }
  }

  .texto-final {
    text-align: center;
  }
}
