header {
  background-color: $color-primary;
  @include mobile {
    height: 100%;
    width: 100%;
  }
  img {
    height: 74px;
    transition: all 2s;
    animation-name: logo-giratorio;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 2rem;
      font-weight: bold;
      font-family: "GeraldtonLight";
      li {
        a {
          color: w;
        }
      }
    }
  }
}
@keyframes logo-giratorio {
  0% {
    rotate: (360deg);
  }

  100% {
    rotate: (0deg);
  }
}
