header {
  background-color: $color-primary;
  img {
    height: 64px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 2rem;
      font-weight: bold;
      font-family: "GeraldtonLight";
      li {
        a {
          color: w;
        }
      }
    }
  }
}
