main {
  .titulo_t {
    font-family: "Futurah";
    text-align: center;
    font-size: 3rem;
    margin-top: 5px;
  }

  .carrusel-2 {
    max-width: 100vh;
    max-width: 100vh;
  }

  .boton-antes-y-despues {
    button {
      padding: 15px 30px;
      font-size: 2rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
}
