main {
  .container-titulo {
    display: inline-block;
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Montserrat";
    text-shadow: 4px 4px 7px black;
    z-index: 1;

    h1 {
      span {
        color: $color-textos;
      }
      font-size: 70px;
      z-index: 1;
      @include mobile {
        font-size: 30px;
      }
    }
    h2 {
      font-weight: 600;
      span {
        color: $color-textos;
      }
    }
  }

  .logo-wp img {
    height: 64px;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 20px;
    margin: 10px;
    @include mobile {
      height: 42px;
      margin: 20px;
    }
  }

  .container-img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    filter: brightness(0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    @include mobile {
      .imagen2 {
        max-width: 100%;
      }
      .imagen1,
      .imagen3 {
        display: none;
      }
    }

    img {
      max-width: 450px;
      width: 100vh;
      transition: all 2s;

      &:hover {
        transform: scale(1.04);
        @include mobile {
          transform: none;
        }
      }
    }

    .imagen1 {
      height: 100%;
    }
  }

  .botonunitealteam {
    display: inline-block;
    margin-top: 400px;
    position: absolute;
  }
  .boton-unite {
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: $color-textos;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-family: "Montserrat";
    box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 11px 1px rgba(0, 0, 0, 0.75);

    &:hover {
      background-color: white;
      color: black;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
