main {
  background-color: $color-tertiary;
  .container-cards {
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  .card {
    box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
    -webkit-box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
    -moz-box-shadow: 0px 0px 36px -3px rgb(16, 219, 170);
    margin: 20px;
    background-color: white;
    border-radius: 10px;

    img {
      border-radius: 10px;
    }
    h5 {
      font-size: 1.7rem;
      text-align: center;
      font-family: "Futurah";
      color: #000;
    }
    .precio-card {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      color: coral;
    }
    .card-text {
      color: #000;
      text-align: center;
      font-size: 1.5rem;
      font-family: "MarlinRegular";
    }
    .btn {
      @extend .boton-unite;
      padding: 10px 20px;
      font-size: 1.5rem;
    }
  }
}
