main {
  background-image: linear-gradient($color-primary, $color-secundary);
  .titulo_t {
    font-family: "Futurah";
    text-align: center;
    font-size: 3rem;
    h1 {
      @include mobile {
        font-size: 3rem;
      }
    }
  }
  .container-imagenes {
    display: grid;
    justify-content: center;
    height: auto;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 300px);
    @include mobile {
      grid-template-columns: 400px;
      grid-template-rows: auto;
    }
  }
  .container-imagenes img {
    width: 100%;
    height: 100%;
  }
}
