// Inicio
@media screen and (max-width: 576px) {
  .container-img {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .imagen1,
  .imagen3 {
    display: none;
  }

  .container-titulo {
    width: 100%;
  }
  .h1 {
    font-size: 35px;
  }

  .navbar-expand-lg {
    z-index: 3;
  }
}

// sobre mi
@media screen and (max-width: 576px) {
  ._container-sobremi {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-template-areas:
      "carrusel-1"
      "titulo-2"
      "texto-3"
      "texto-4";

    .carrusel-1 {
      grid-area: carrusel-1;
      height: 300px;
      width: auto;
      box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
      -webkit-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
      -moz-box-shadow: 0px 0px 15px 8px rgba(43, 42, 42, 0.75);
    }

    .foto-4 iframe {
      width: 455px;
      height: 360px;
    }

    .foto-2 img {
      height: 360px;
    }

    .foto-3 img {
      height: 360px;
    }

    .titulo-2 {
      grid-area: titulo-2;
    }

    .texto-3 {
      grid-area: texto-3;
    }

    .texto-4 {
      grid-area: texto-4;
    }
  }
}
